* {
  margin: 0;
  padding: 0;
}


html { 
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
}